
#  csv raw data
*.csv
*.zip
.aws/*
# terraform files & directories
.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.8.0_x4
*.tfstate
*.tfstate.*
.terraform
terraform.tfvars

#backup files
*.bak

# security
*.pem
*.cnf

# mac metadata
.DS_Store

# python
__pycache__/

# ipynb checkpoints
.ipynb_checkpoints
config
credentials
